<div>
  <h3>Create Provider</h3>
</div>

{{#bs-form formLayout="vertical" model=provider onSubmit=(action "submit") as |form|}}
  {{form.element controlType="text" label="Last Name" placeholder="Last Name" property="lastName"}}
  {{form.element controlType="text" label="First Name" placeholder="Last Name" property="firstName"}}
  {{form.element controlType="email" label="Email" placeholder="Email Address" property="emailAddress"}}
  {{form.element controlType="text" label="Specialty" placeholder="Specialty" property="specialty"}}
  {{form.element controlType="text" label="Practice Name" placeholder="Practice Name" property="practiceName"}}
  {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
{{/bs-form}}