<div class="provider-content">
  <div>
    <h4>Create Provider</h4>
  </div>

  {{#bs-form formLayout="vertical" model=provider onSubmit=(action "create") as |form|}}
    {{form.element controlType="text" label="Last Name" property="lastName"}}
    {{form.element controlType="text" label="First Name" property="firstName"}}
    {{form.element controlType="email" label="Email" property="emailAddress"}}
    {{form.element controlType="text" label="Specialty" property="specialty"}}
    {{form.element controlType="text" label="Practice Name" property="practiceName"}}

    {{bs-button class="submit-button" defaultText="Submit" type="primary" buttonType="submit"}}
  {{/bs-form}}
</div>