<div class="provider-list-header">
  <h4>Provider List</h4>
</div>

<div class="filter-sort flex-row justify-between">
  <input
    placeholder="Filter By"
    class="filter-by form-control"
    value={{filterBy}}
    oninput={{action (mut filterBy) value="target.value"}}>

  <div class="sort-by flex-row">
    <div class="label">Sort By</div>
    {{#power-select
      selected=selectedSort
      options=sortingOptions
      onchange=(action (mut selectedSort))
      searchEnabled=false
      as |sort|
    }}
      {{sort.name}}
    {{/power-select}}
  </div>
</div>

{{#if hasProviders}}
  <div class="provider-rows flex-column">
    {{#each providersSorted as |provider|}}
      <div class="provider-row flex-row justify-between">
        <div class="provider-row-left flex-row">
          <div class="checkbox">
            <input type="checkbox" />
          </div>

          <div class="flex-column">
            <div class="provider-full-name">{{provider.lastName}}, {{provider.firstName}}</div>
            <div>{{provider.emailAddress}}</div>
          </div>
        </div>

        <div class="provider-row-right text-align-right flex-column">
          <div>{{provider.specialty}}</div>
          <div>{{provider.practiceName}}</div>
        </div>
      </div>
    {{/each}}
  </div>
{{else if hasFilter}}
  <div class="results-message">No Providers Match Your Filter Criteria.</div>
{{else}}
  <div class="results-message">No Providers Exist, Use <b>Create Provider</b> to Create One!</div>
{{/if}}

{{bs-button class="remove-button" defaultText="Remove" type="primary" onClick=(action "remove")}}