<div class="provider-list-header text-align-center">
  <h4>Provider List</h4>
</div>

<div class="filter-sort flex-row justify-between">
  <input
    placeholder="Search"
    class="filter-by form-control"
    value={{filterBy}}
    oninput={{action (mut filterBy) value="target.value"}}>

  <div class="sort-by flex-row">
    <div class="label">Sort By</div>
    {{#power-select
      triggerClass="sort-field"
      selected=selectedSort
      options=sortingOptions
      onchange=(action (mut selectedSort))
      searchEnabled=false
      as |sort|
    }}
      {{sort.name}}
    {{/power-select}}

    {{#power-select
      triggerClass="sort-direction"
      selected=selectedSortDirection
      options=sortDirectionOptions
      onchange=(action (mut selectedSortDirection))
      searchEnabled=false
      as |sort|
    }}
      {{sort.name}}
    {{/power-select}}
  </div>
</div>

{{#if hasProviders}}
  <div class="provider-rows flex-column">
    {{#each providersSorted as |provider|}}
      {{! Should be separate component}}
      <div class="provider-row flex-row justify-between">
        <div class="provider-row-left flex-row">
          <div class="checkbox">
            <input type="checkbox"
                   checked={{provider.shouldRemove}}
                   onclick={{action (mut provider.shouldRemove) value="target.checked"}}>
          </div>

          <div class="flex-column">
            <div class="provider-full-name">{{provider.lastName}}, {{provider.firstName}}</div>
            <div>{{provider.emailAddress}}</div>
          </div>
        </div>

        <div class="provider-row-right text-align-right flex-row">
          <div class="flex-column">
            <div>{{provider.specialty}}</div>
            <div>{{provider.practiceName}}</div>
          </div>
          <div class="edit-button">
            {{#bs-button type="primary" onClick=(action "onEdit" provider)}}
              {{fa-icon "pencil-square-o"}}
            {{/bs-button}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else if hasFilter}}
  <div class="results-message">No Providers Match Your Search.</div>
{{else}}
  <div class="results-message">No Providers Exist, Use &nbsp;<span class="bold">Create Provider</span>&nbsp; to Create One!</div>
{{/if}}

{{bs-button class="remove-button" disabled=(not hasRemovableProviders) defaultText="Remove" type="danger" onClick=(action "onRemove")}}